body {
	background:#333;
	font-family:"Palatino Linotype", "Book Antiqua", "Palatino", serif;
}
#wrapper {
	width:600px;
	margin:auto;
	text-align:center;
}

h1 {
	color:white;
	
}

#box {
	background:#C085C6;
	padding:60px 0px 40px;
	min-height: 200px;
}

#wrapper input{
	font-family:"courier new" monospace;
	width:300px;
	text-align:center;
	font-size: 22px;
}

#wrapper p{
	font-size:32px;
	padding:0px 20px;
}

#help {
  margin-top:10px;
	background:#FFF3A7;
	padding:20px;
	text-align:left;
}
#help p {
  font-size:16px;
}
#help dl{
	float:left;
	width:280px;
	margin:0;
}

#help dt{
	margin:0;
	width:20px;
	font-family:"courier new" monospace;
	font-weight:bold;
	float:left;
	clear:both;
}

#help dd{
  float:left;
	width:230px;
	margin-left:5px;
}