body {
	background:#333;
	font-family:"Palatino Linotype", "Book Antiqua", "Palatino", serif;
}
#wrapper {
	width:1000px;
	margin:auto;
	text-align:center;
}

h1 {
	color:white;
	
}

#box {
	background:#C085C6;
	padding:60px 0px 40px;
	min-height: 150px;
}
#wrapper input{
	font-family:"courier new" monospace;
	width:250px;
	font-size: 22px;
	text-align:center;
}

#wrapper p{
	font-size:32px;
	padding:0px 20px;
}

label {
  font-weight:bold;
}

#help {
  	margin-top:10px;
	background:#FFF3A7;
	padding:20px 0px;
	text-align:left;
	font-size:16px;
}
#help p {
	margin:0;
	padding:0;
	font-size:16px;
	font-weight:bold;
}
#help dl{
	float:left;
	width:230px;
	margin:0;
	border-right: solid #CFC68A 1px;
	padding:0px 9px;
}

#help dl.col1{
  width:259px;
}
#help dl.col2{
  width:241px;
}
#help dl.col3{
  width:193px;
}
#help dl.col4{
  border:none;
}

#help dt{
	margin:0;
	width:25px;
	font-family:"courier new" monospace;
	font-weight:bold;
	float:left;
	clear:both;
}

#help dd{
  float:left;
	margin-left:5px;
}
br.clear {
	clear:both;
}
#footer{
	margin:10px 0px 30px;
	color:#fff;
}
#footer a{
	color:#fff;
}
