-content_for :javascript do
  :javascript
    var Strftime = {
      convert: function() {
        var today = new Date();
        format = document.getElementById('format').value;
        document.getElementById('result').innerHTML = today.strftime(format);
      }
    }
    document.observe("dom:loaded", function() {
      Strftime.convert();
    });
#wrapper
  %h1 STRFTIME
  #box
    %form#format_form{:action => '#'}
      =text_field_tag :format, "%d/%m/%Y"
    %p#result result
  :javascript
    new Form.Observer('format_form', 0.3, function(form, value){
        Strftime.convert();
    })
