-content_for :javascript do
  =javascript_include_tag 'timepicker.js'
  :javascript
    var Strftime = {
      convert: function() {
        var date = new Date();
        $('#result').html(date.strftime($('#format').val()));
      }
    }
    $(document).ready(function(){
      Strftime.convert();
    });
#wrapper
  %h1 STRFULAR
  #box
    =text_field_tag :format, "%d/%m/%Y, %I:%M%P", :onkeyup => "Strftime.convert();"
    %p#result result
  #help
    %dl.col1
      %dt Day
      %dt %a
      %dd short weekday name, e.g. Sun
      %dt %A
      %dd full weekday name, e.g. Sunday
      %dt %d
      %dd day of the month (01..31)
      %dt %e
      %dd day of the month (' 1'..'31')
      %dt %j
      %dd day of the year (001..366)
      %dt %u
      %dd weekday with Mon = 1, (1..7)
      %dt %w
      %dd weekday with Sun = 0, (0..6)
            
      
      %dt Week
      %dt %U
      %dd week, week begin Sun
      %dt %W
      %dd week, week begin Mon
    %dl.col2
      %dt Month
      %dt %b
      %dd short month name, e.g. Jan
      %dt %B
      %dd full month name, e.g. January
      %dt %h
      %dd same as b
      %dt %m
      %dd month (01..12)
      %dt Year
      %dt %C
      %dd century number (00 to 99)
      %dt %G
      %dd 4-digit year, e.g. 2010
      %dt %y
      %dd year (00..99)
      %dt %Y
      %dd year, including century      
    %dl.col3
      %dt Time
      %dt %H
      %dd hour (00..23)
      %dt %I
      %dd hour (01..12)
      %dt %M
      %dd minute (0..60)
      %dt %S
      %dd second (0..60)

      %dt AM/PM
      %dt %p
      %dd 'AM' or 'PM'
      %dt %P
      %dd 'am' or 'pm'
      %dt Zone
      %dt %z
      %dd numerical time zone
      %dt %Z
      %dd time zone name

    %dl.col4
      %dt Macros
      %dt %c
      %dd preferred date/time format
      %dt %D
      %dd same as m/d/y
      %dt %r
      %dd same as I:M:S p
      %dt %R
      %dd same as H:M
      %dt %T
      %dd current time as H:M:S
      %dt %x
      %dd preferred date format
      %dt %X
      %dd preferred time format
      
      
      %dt Misc.
      %dt %n
      %dd newline character
      %dt %t
      %dd tab character
      %dt %%
      %dd a literal `%' character
    %br.clear
  #footer
    ="Inspired by #{link_to("Rubular", "http://www.rubular.com")}, powered by #{link_to("strftime for Javascript", "http://hacks.bluesmoon.info/strftime/index.html")} and built by #{link_to("Matt Atkins", "http://www.twitter.com/matkins")} of #{link_to("Yoomee", "http://www.yoomee.com")}."
    

